<html>
    <head>
        <title>Eventkit Data Pack</title>
    </head>
        <body>
        <div class="root">
        <div class="heading">This is an automated email from the Eventkit Team.</div>
        <p>Your data pack: </p>
        <p><b>{{ job_name }}</b></p>
        {% if status == 'CANCELED' %}
        </p>was CANCELED.</p>
        {% else %}
        </p> is finished.</p>
        <p>Please follow this link <a href="{{ url }}/">{{ url }}</a> to download your files.</p>
        {% endif %}
        <p>Thank you for using Eventkit</p>
        <p>Eventkit Team</p>
        </div>
    </body>
</html>