<html>
    <head>
        <title>Eventkit</title>
    </head>
    <body>
        <p>This is an automated email from the Eventkit Team.</p>
        <p>Unfortunately, your Eventkit Data Pack has a failure.</p>
        <p>Please follow this link <a href="{{ url }}">{{ url }}</a> to see the status of your Eventkit Data Pack.</p>
        <p>Please quote this Task ID when reporting errors: {{ task_id }}.</p>
        <p>We apologise for any inconvenience this may cause.</p>
        <p>Eventkit Team</p>
    </body>
</html>