[run]
omit = *tests*, eventkit_cloud/settings/*, eventkit_cloud/fixtures/*, */migrations/*, eventkit_cloud/api/renderers.py, */__init__.py, */admin.py, */scripts/*, */management/commands/*, */integration_test_jobs.py
source = eventkit_cloud

[report]
omit = *tests*, eventkit_cloud/settings/*, eventkit_cloud/fixtures/*, */migrations/*, eventkit_cloud/api/renderers.py, */__init__.py, */admin.py, */scripts/*, */management/commands/*, */integration_test_jobs.py
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:

    except ImportError:
    ^pass$


ignore_errors = True

[html]
directory = coverage
