amqp==2.3.2
billiard==3.5.0.4
boto3==1.7.48
celery==4.2.1
certifi==2018.8.24
dj-database-url==0.4.2
Django==2.0.9
git+https://github.com/venicegeo/django-audit-logging.git@v0.2.0#egg=django-audit-logging
django-auth-ldap==1.7.0
django-celery-beat==1.1.1
django-celery-results==1.0.1
django-extensions==1.7.7
django-filter==2.0.0
django-notifications-hq=1.5.0
djangorestframework==3.8.0
djangorestframework-gis==0.13
eventlet==0.20.1
GDAL==2.2.4
gunicorn==19.7.1
# Kombu declared explicitly because of incompatibility with celery requirements.
kombu==4.2.1
lxml==3.7.3
MapProxy==1.11.0
Markdown==2.6.8
numpy==1.14.3
Pillow==5.2.0
psycopg2==2.7.3.2
PyJWT==1.4.2
pyparsing==2.1.10
python-dateutil==2.7.2
python-ldap==3.1.0
python-magic==0.4.12
pytz==2018.5
PyYAML==3.12
requests==2.20.1
Shapely==1.6.4
simplejson==3.10.0
whitenoise==3.3.0
