Django>=1.8,<=1.9
dj-database-url
psycopg2
djangorestframework<3.3.0
django-filter
djangorestframework-gis
celery[librabbitmq]
django-celery
python-social-auth
lxml
GDAL
python-magic
backports.ssl_match_hostname
click
uwsgi
gdal
gunicorn
eventlet
jsonfield
decorator
webtest
django_extensions
whitenoise
#rtree
#imposm
numpy==1.11.1
-e git://github.com/terranodo/osm-export-tool2.git@eventkit-mvv#egg=oet2
-e git://github.com/terranodo/mapproxy.git@addGeopackageAutoconfig#egg=mapproxy
-e git://github.com/terranodo/django-mapproxy.git@master#egg=djmp
-e git://github.com/ProminentEdge/django-osgeo-importer.git@master#egg=osgeo_importer
boto3
