boto3
celery
Django
dj-database-url
git+https://github.com/eventkit/django-audit-logging.git@v0.3.1#egg=django-audit-logging  # conda: django-audit-logging
git+https://github.com/EventKit/gdalutils.git@1.0.5#egg=gdalutils  # conda: gdalutils
django-celery-beat
django-extensions
django-filter
django-notifications-hq
django-storages
django-timezone-field
djangorestframework
djangorestframework-gis
GDAL
gevent
gunicorn
jsonschema
MapProxy
numpy
Pillow
psycopg2
PyJWT
pymemcache
pyparsing
pyproj
python-dateutil
python-magic
python-memcached
pytz
PyYAML
requests
requests-pkcs12  # conda: requests_pkcs12
Shapely
sqlparse
swapper
uritemplate
webtest
whitenoise
