coverage==5.1
coveralls==2.0
flake8==3.8.3
autopep8==1.5.3
flower==0.9.5
pydevd==1.9.1
pytest==5.4.3
pytest-forked==1.2.0
pytest-xdist==1.32.0
pytest-django==3.9.0
requests-mock==1.8.0
mkdocs==1.1.2
black==19.10b0
docker==5.0.0