@media screen and (min-width: 531px) {
    .simpleButton {
        font-size: .9em;
    }
}

@media screen and (max-width: 530px) {
    .simpleButton {
        font-size: .7em;
    }
}

.aoiInfoWrapper {
    /*display: none;  HIDE FOR NOW */
    z-index: 2;
    position: absolute;
    width: 100%;
    bottom: 40px;
    height: 70px;
}

.aoiInfobar {
    min-width: 320px;
    max-width: 765px;
    margin: 0 auto;
    width: 90%;
    height: 70px;
    background-color: #fff;
}

.topBar {
    height: 25px;
    width: 100%;
    float: left;
    padding-top: 5px;
}

.aoiInfoTitle {
    font-size: 1em;
    padding-left: 10px;
}

.detailBar {
    height: 45px;
    width: 100%;
    float: left;
}

.forwardArrow {
    font-size: 2.5em;
    margin: 0px;
    padding: 0px;
    vertical-align: middle !important;
}

.simpleButton {
    background: none;
    border: none;
    float: right;
    padding-right: 10px;
}

.simpleButton:focus {
    outline: none;
}

.activeButton {
    color: #4498c0;
}

.inactiveButton {
    color: grey;
}

.geometryIcon {
    color: grey;
    font-size: 3.1em;
    padding-left: 10px;
    width: 43px;
}

.detailText {
    float: right;
    width: calc(100% - 55px);
    height: 100%;
}

.aoiDescription {
    padding-left: 6px;
    width: 100%;
    color: grey;
    height: 20px;
}

.aoiTitle {
    padding-left: 6px;
    width: 100%;
    height: 20px;
}

.aoiInfo {
    padding: 0px 5px 0px 5px;
    border: none;
    background-color: #fff;
    height: 100%;
    line-height: 100%;
}
