div.primaryDiv {
    margin-top: 100px;
    margin-left: 200px;
}

div.sectionBar {
    background-color: #161e2e;
    padding: 5px;
    border-width: 2px;
    border-color: white;
    line-height: 10px;
    top: 100px;
    margin-top: 100px;
    margin-left: 0px;
    bottom: 0;
    right: 0;
}
div.sectionMenu {
    background-color: #161e2e;
    padding: 5px;
    line-height: 50px;
    margin-left: 0px;
    bottom: 0;
    right: 0;
    border: 0px solid;
}

div.primaryDiv {
    position: relative;
    margin-top: 100px;
    margin-left: 200px;
    height: 100%;
}
p.heading {
    padding-left:10px;
    padding-top: 10px;
    color: white;
    font-size: 18px;
}