
div.map {
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    width: 100%;
    height: 765px;

}

.draw {
    top: 125px;
    left: 40px;
}
.olScaleLine {
    position: absolute;
    padding: 2px;
    background: rgba(0,0,0,0);
    border-radius: 4px;
    bottom: 10px;
    right: 10px;
}

.olScaleLine > div {
    color: #707274;
    border: 1px solid #707274;
    border-top: none;
    font-size: 10px;
    text-align: center;
    margin: 1px;
    will-change: contents,width;
}

.olZoom {
    z-index: 3;
    right: 10px;
    bottom: 310px;
    color: #66a3ff;
    background-color: white;
}

.olZoomToExtent {
    z-index: 3;
    right: 10px;
    bottom: 370px;
    color: #66a3ff;
    background-color: white;   
}

.olZoomToExtent button {
    color: #4498c0;
    background-color: white;
}

.olZoom button {
    color: #4498c0;
    background-color: white;
}
