.autoComplete {

}

.autoComplete > div {
    padding-left: 5px;
    bottom: 11px !important;
    color: #5a5a5a !important;
}

.autoComplete input {
    padding-left: 5px !important;
    color: #cacaca !important;
}

.autoComplete hr {
    display: none;
}
