.drawButtonsContainer {
    z-index: 1;
    position: absolute;
    top: 70px;
    right: 10px;
    width: 60px;
    height: 270px;
    background-color: #fff;
}

.drawButtonsTitle {
    height: 30px;
    width: 60px;
    font-size: .8em;
    text-align: center;
    line-height: 30px;
}

.drawButtonGeneral {
    height: 60px;
    width: 60px;
    border-top: 1px solid #e6e6e6;
    border-right: none;
    border-left: none;
    border-bottom: none;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.buttonDiv {
    height: 33px;
}

.drawButtonGeneral i {
    color: #4498c0;
    padding: 0;
}

.inactiveButton {
    opacity: 0.4;
    font-size: 1.5em;
}

.selectedButton {
    font-size: 1.5em;
}

.defaultButton {
    font-size: 1.5em;
}

.drawButtonGeneral:focus {
    outline: none;
}

.buttonName {
    font-size: .6em;
    width: 60px;
    color: #4498c0;
    bottom: 0;
    height: 12px;
}

.buttonNameInactive {
    opacity: 0.4;
}
