
@media only screen and (max-width: 800px) {
    .form {
        margin: 0 auto;
        width: 90% !important
    }
}

.root {
    width:100%;
    background-image: url('../../images/ek_topo_pattern.png');
    background-repeat: repeat repeat;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
}
.paper {
    margin: 0 auto;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    max-width: 700px;
}
.form {
   margin: 0 auto;
   width: 60%
}
.sectionBottom {
   padding-bottom: 50px;
}
.heading {
   font-size: 18px;
   font-weight: bold;
   color: black;
   align-content: flex-start;
    padding-bottom: 10px;
}
.subHeading {
   font-size: 16px;
   color: black;
   align-content: flex-start;
}
.checkbox > div{
   padding-bottom: 60px;
   margin-top: 15px!important;
}
.checkbox > div > div > label {
   font-weight: normal!important;
    font-size:16px!important;
}
.checkboxLabel > div > div > label {
   font-weight:normal!important;
    font-size:16px!important;
}
.list {
   width: 100%;
   background-color: whitesmoke!important;
   font-size: 16px!important;
}
.list > div {
    margin-left: -15px;
}
.list > div > span {
   font-size: 16px!important;
}
.list > div > label {
    font-weight: normal!important;
    font-size: 16px!important;
}
.list > div  > div > div > span {
   font-size: 16px!important;
}
.listBottom {
   width: 100%;
   background-color: whitesmoke!important;
   margin-top: 15px!important;
}
.listBottom > div  > span {
   font-size: 16px!important;
}
.listBottom > div  > div > div > span  {
   font-size: 16px!important;
}
.checkboxColor > div >  div > div > svg {
   color: #4598bf!important;
   fill: #4598bf!important;
}
.checkboxColor {
    float:left!important;
    padding-left: 5px;
}
.checkedColor {
    color: #4598bf!important;
    fill: #55ba63!important;
}
.checkboxColorDisabled > div >  div > div > svg {
    color: #b4b7b8!important;
    fill: #b4b7b8!important;
}
.uncheckedColor {
    color: #4598bf!important;
}
.mapCard > div > div > div {
    font-weight: bold!important;
    font-size: 18px!important;
    padding: 5px!important;
}
.mapCard > div {
    background-color: rgba(179, 205, 224, .2)!important;
}
.mapCard {
    padding-bottom: 20px;
}
.map {
    width:100%;
    padding-top:15px;
}