table{
    width: 100%;
    height: 100%;
    border: 0px solid black;
    border-spacing: 5px;
    border-collapse: separate;
}
.tdHeading {
    vertical-align: top;
    padding: 10px;
    height:35px;
    font-size: 16px;
    width: 33%;
    background-color: #f8f8f8;
    font-weight: bold;
    color: black;
}
.tdData {
    padding: 10px;
    height: 35px;
    font-size: 16px;
    width: 66%;
    background-color: #f8f8f8;
    font-weight: normal;
    color: #8b9396
}

.mapCard > div > div > div {
    font-weight: bold!important;
    font-size: 18px!important;
    padding: 5px!important;
}
.mapCard > div {
    background-color: rgba(179, 205, 224, .2)!important;
}
.mapCard {
    padding-bottom: 20px;
    padding-top:15px;
}
.map {
    width:100%;
    padding-top:15px;
}

@media only screen and (max-width: 800px) {
    .form {
        margin: 0 auto;
        width: 90% !important
    }
}

.root {
    width:100%;
    background-image: url('../../images/ek_topo_pattern.png');
    background-repeat: repeat repeat;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;

}
.form {
    margin: 0 auto;
    width: 60%
}
.paper {
    margin: 0 auto;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    max-width: 700px;
    overflow: hidden;
}

.sectionBottom {
    padding-bottom: 50px;

}
.heading {
     font-size: 18px;
     font-weight: bold;
     color: black;
     align-content: flex-start;
     padding-bottom: 5px;
 }
.subHeading {
    font-size: 16px;
    align-content: flex-start;
    color: #8b9396;
    padding-bottom: 10px;
}
.exportHeading {
    font-size: 16px;
    align-content: flex-start;
    color: black;
    font-weight: bold;
    padding-top: 25px;
    padding-bottom: 10px;
}
.fieldWrapper > input {
    background-color: rgba(179, 205, 224, .2)!important;
    font-size: 16px!important;
    width: 100%!important;
    height: 45px!important;
    margin-top: 15px!important;
    color: black!important;
    border:0;
}

.fieldWrapper > div{
    background-color: whitesmoke!important;
    font-size: 14px;
    width: 100%!important;
    height: 40px!important;
    margin-top: 15px!important;
}
.fieldWrapperLarge > div{
    font-size: 14px;
    background-color: whitesmoke!important;
    width: 100%!important;
    margin-top: 15px!important;
}

