.buttonGeneral {
    height: 50px;
    width: 50px;
    border-left: 1px solid #e6e6e6;
    border-right: none;
    border-bottom: none;
    border-top: none;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.buttonGeneral:focus {
    outline: none;
}

.buttonGeneral svg {
    color: #4498c0 !important;
    padding: 0;
}

.buttonName {
    color: #4498c0;
    bottom: 0;
    font-size: .5em;
    width: 50px;
    height: 12px;
}

.buttonNameInactive {
    opacity: 0.4;
}

.defaultButton {
    font-size: 1.3em;
}

.inactiveButton {
    opacity: 0.4;
    font-size: 1.3em;
}

.selectedButton {
    font-size: 1.3em;
}

@media screen and (min-width: 576px) {
    .buttonGeneral {
        height: 50px;
        width: 60px;
    }
    .defaultButton {
        font-size: 1.5em;
    }

    .inactiveButton {
        opacity: 0.4;
        font-size: 1.5em;
    }

    .selectedButton {
        font-size: 1.5em;
    }

    .buttonName {
        font-size: .6em;
        width: 60px;
        height: 12px;
    }
}
