@media only screen and (max-width: 991px) {
    .drawer {
        width: 0px!important;
    }
    .contentStyle {
        margin-left : 0px!important;
    }
}

.menuItem > div > div{
    margin-left: 0px !important;
    padding: 0px !important;
}

.img {

    width: 205px;
    height: 40px;
}


/* =========================================================================
   Link
   ========================================================================= */

.link {
    position: relative;
    display: block;
    padding: 5px;
    text-align: left;
    text-decoration: none;
    color: #4498c0;
}
.link:visited {
    text-decoration:none;
}

.atHome .link {
    line-height: 150px;
}

.link:hover {
    background-color: #161e2e;
    text-decoration: none;
}
.link:active {
    text-decoration: none;
}
a:link {
    text-decoration: none;
}




/* Link: State
   ========================================================================= */

.active,
.active:hover {
    box-shadow: 0 2px rgba(0,0,0,.1);
    background-color: #161e2e;
    text-decoration: none;
}

.active:visited {
    text-decoration: none;
}

.active .icon {
    fill: #1675aa;
    filter: none;
    -webkit-filter: none;
    box-shadow: 0 2px rgba(0,0,0,.1);
    text-decoration: none;
}


