{% extends "ui/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block container %}
<div class="row">
    <div class="col-md-6" style="padding: 15px; font-size: large;">
        <div class="panel panel-danger">
            <div class="panel-heading"><h4>{% trans 'Unauthorized' %}</h4></div>
            <div class="panel-body">
                {% trans "You don't have sufficient permissions to view this page. Please" %} <a href="mailto:eventkit.team@gmail.com">{% trans 'email us' %}</a> {% trans "if you believe this is an error." %}
            </div>
        </div>
    </div>
</div>
{% endblock %}