<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>EventKit</title>
    {% load staticfiles %}
    <meta id="meta" name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{% static 'ui/images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'ui/app/styles/bootstrap/css/bootstrap.min.css' %}">

    <style>
      body {
        min-width: 370px;
        min-height: 430px;
        overflow: hidden;
      }
      #no-ie {
        background-color: #111823;
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        color: #fff;
        padding: 40px;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div id='root'>
        <div id='no-ie'>
            <p>The browser you are using is not supported by EventKit.</p>
            <p>EventKit does not support any versions of Internet Explorer or other legacy browsers.</p>
            <p>Please use a modern browser to access EventKit (we recommend Chrome).</p>
        </div>
    </div>
  </body>
</html>

