{% extends "ui/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block container %}

    {% if not user.is_authenticated %}
    <div class="row">
        <div class="col-md-6">
            <div id="about">
                <h2>{% trans 'Portable Data' %}</h2>
                <h3>{% trans 'Download up-to-date data.' %}</h3>
                {% trans 'This platform allows you to export map data from various sources.'%}
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default" style="margin: 2em 3em 0em 3em;">
            <div id="heading-wrap" class="panel-heading"><span class="glyphicon-heading glyphicon glyphicon-log-in pull-left">&nbsp</span>
              <div><h4>{% trans 'Login to Eventkit' %}</h4></div>
            </div>
            <div class="panel-body">
                    <div class="row pull-left">
                            <form action="{% url 'django.contrib.auth.views.login' %}" method="post" accept-charset="utf-8">
                                {% csrf_token %}
                                {% for field in form %}
                                    <label>{{ field.label }}</label>
                                    {% if field.errors %}
                                        {{ field.errors }}
                                    {% endif %}
                                    {{ field }}
                                {% endfor %}
                                <input type="hidden" name="next" value={{ next }} />
                                <input class="btn btn-lg btn-success" type="submit" value="Login"/>
                            </form>
                    </div>
              </div>
            </div>
        </div>
    </div>
    {% endif %}

{% endblock %}
