@media only screen and (min-width: 850px) {
    .stepperWrapper > div > div > span {
        max-width: 680px !important;
    }
    .stepperWrapper > div {
        margin: 0 auto;
        max-width: 400px;
    }
}

@media only screen and (min-width: 750px) {
    .stepperWrapper > div > div > span {
        font-size: 1em !important;
        margin: 0 auto;
        max-width: 400px;
    }
    .stepperWrapper > div {
        margin: 0 auto;
        max-width: 400px;
    }
    .stepLabel {
        font-size: 1em;
    }
}

@media only screen and (max-width: 750px) {
    .stepperWrapper > div > div > span {
         font-size: .8em !important;
     }
    .stepLabel {
        font-size: .8em;
    }
}

@media only screen and (max-width: 500px) {
    .stepperWrapper > div > div > span  {
        font-size: .7em !important;
    }
    .stepLabel {
        font-size: .7em;
    }
    .imageWrapper {
        margin-top: -25px;
        display: block;
        width: 150px;
        margin-left: 350px!important;
        position: absolute;
        left: 120px;
        top: -38px;
    }

}
@media only screen and (max-width: 400px) {
    .stepLabel {
        font-size: .6em;
    }
    .stepperWrapper > div > div > span {
        font-size: .6em !important;

    }
    .imageWrapper {
        margin-top: -25px;
        display: block;
        width: 150px;
        margin-left: 300px!important;
        position: absolute;
        left: 120px;
        top: -38px;
    }

}

.stepperWrapper {
    height: 45px;
}

.stepperWrapper > div {
    background-color: #161e2e;
    height: 35px;
    color: white;
    font-family: Roboto;
    z-index: 1;
    width: 50%;
    position: relative;
}

.stepLabel {
    color: white;
    fontSize: 18px;
}

.imageWrapper {
    margin-top: -25px;
    display: block;
    width: 150px;
    margin-left: 850px;
    position: absolute;
    left: 520px;
    top: -38px;
}

