@media only screen and (min-width: 850px) {
    .toolbarsContainer {
        max-width: 680px !important;
    }
}

@media only screen and (min-width: 750px) {
    .stepperWrapper > div > div > span {
        font-size: 1em !important;
    }
    .stepLabel {
        font-size: 1em;
    }
}

@media only screen and (max-width: 750px) {
    .stepperWrapper > div > div > span {
         font-size: .8em !important;
     }
    .stepLabel {
        font-size: .8em;
    }
}

@media only screen and (max-width: 500px) {
    .stepperWrapper > div > div > span  {
        font-size: .7em !important;
    }
    .stepLabel {
        font-size: .7em;
    }

}
@media only screen and (max-width: 400px) {
    .stepLabel {
        font-size: .6em;
    }
    .stepperWrapper > div > div > span {
        font-size: .6em !important;
    }

}

.stepperWrapper {}

.stepperWrapper > div {
    background-color: #161e2e;
    height: 35px;
    color: white;
    font-family: Roboto;
    z-index: 1;
}

.stepLabel {
    color: white;
    fontSize: 18px;
}
