.classificationbanner {
    z-index: 9999;
    position: absolute;
    left: 0;
    right: 0;
    line-height:25px;
    background-color: green;
    color: white;
    font-size: 14px;
    text-align: center;
}