
div.map {
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    width: 100%;
    height: 765px;

}

.draw {
    top: 125px;
    left: 40px;
}

.olZoom {
    left: 8px;
    bottom: 60px;
    color: #66a3ff;
    background-color: white;
}

.olZoom button {
    color: #66a3ff;
    background-color: white;
}
