.root {
    justify-content: space-around;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}
.paper {
    display: inline-block;
    margin: 0 auto;
    padding: 20px;
}
.form {
    width: 50%;
    margin: 0 auto;
    padding-left: 100px;
}
.sectionBottom {
    padding-bottom: 50px;
}
.heading {
    font-size: 18px;
    font-weight: bold;
    color: black;
    align-content: flex-start;
}
.subHeading {
    font-size: 14px;
    color: black;
    align-content: flex-start;
}
.fieldWrapper > div{
    background-color: whitesmoke!important;
    font-size: 14px;
    width: 700px!important;
    height: 40px!important;
    margin-top: 15px!important;
}
.fieldWrapperLarge > div{
    font-size: 14px;
    background-color: whitesmoke!important;
    width: 700px!important;
    margin-top: 15px!important;
}
.checkbox > div{
    padding-bottom: 60px;
    margin-top: 15px!important;
}
.checkbox > div > div > label {
    font-weight: normal!important;
}
.checkboxLabel > div > div > label {
    font-weight:normal!important;
}
.list {
    width: 700px;
    background-color: whitesmoke!important;
    font-size: 14px!important;
}
.list > div > span {
    font-size: 14px!important;
}
.list > div  > div > div > span {
    font-size: 14px!important;
}
.listBottom {
    width: 700px;
    background-color: whitesmoke!important;
    margin-top: 15px!important;
}
.listBottom > div  > span {
    font-size: 14px!important;
}
.listBottom > div  > div > div > span  {
    font-size: 14px!important;
}
.checkboxColor > div >  div > div > svg {
    color: #4598bf!important;
    fill: #4598bf!important;
}