.root {
    z-index: 10;
    position: absolute;
    top: 97px;
    left: 0;
    bottom: 0;
    width: 200px;
    background-color: #010101;
}

.atHome {
    box-shadow: 5px 0 rgba(0,0,0,.1);
}


/* =========================================================================
   Link Container
   ========================================================================= */

.root ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.root li {
    margin: 0;
    padding: 0;

}

/* =========================================================================
   Link
   ========================================================================= */

.link {
    position: relative;
    display: block;
    padding: 5px;
    width: 200px;
    line-height: 50px;
    text-align: left;
    text-decoration: none;
    transition: .1s ease-in;
    font-size: 18px;
    transition-property: line-height, background-color, color;
    color: #4498c0;
}
.link:visited {
    text-decoration:none;
}

.atHome .link {
    line-height: 150px;
}

.link:hover {
    background-color: #161e2e;
    text-decoration: none;
}
.link:active {
    text-decoration: none;
}
a:link {
    text-decoration: none;
}



/* Link: Label
   ========================================================================= */

.label {
    display: none;
    position: absolute;
    left: calc(100% + 40px);
    top: 50%;
    transform: translateY(-50%);
    line-height: 40px;
    font-size: 30px;
    white-space: nowrap;
    font-weight: 100;
    background-color: black;
    color: white;
    padding: 0 .5em;
    border-radius: 0 2px 2px 0;
    filter: drop-shadow(0 10px rgba(0,0,0,.2));
    -webkit-filter: drop-shadow(0 10px rgba(0,0,0,.2));
}

.label:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    height: 0;
    width: 0;
    border: 20px solid transparent;
    border-right-color: black;
}

.link:hover .label {
    display: block;
}

.atHome .label {
    opacity: .5;
}

.atHome .link svg {
    opacity: 1;
}

/* Link: State
   ========================================================================= */

.active,
.active:hover {
    box-shadow: 0 5px rgba(0,0,0,.1);
    text-decoration: none;
}

.active:visited {
    text-decoration: none;
}

.active .icon {
    fill: #1675aa;
    filter: none;
    -webkit-filter: none;
    text-decoration: none;
}

/* Link: Home/Brand
   ========================================================================= */

li.home {
    background-color: transparent;
    box-shadow: none;
    transition: .1s ease-in-out;
    transition-property: height;
}

.home .link {
    position: relative;

}

.home .icon,
.home .complexIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 70px;
    width: 30px;
    transform: translate(-50%, -50%);
    transition: .1s ease-in-out;
    filter: none;
    -webkit-filter: none;
}

.atHome .home .icon,
.atHome .complexIcon {
    width: 20px;
}

.home .icon {
    opacity: 0;

}

.atHome .home .complexIcon {
    opacity: 0;
}

.atHome .home .icon {
    opacity: 1;
}
