.root {
    z-index: 10;
    position: absolute;
    top: 20px;
    left: 0;
    bottom: 0;
    width: 200px;
    background-color: #1675aa;
}

.atHome {
    box-shadow: 5px 0 rgba(0,0,0,.1);
}

/* =========================================================================
   Brand Image
   ========================================================================= */

.brand {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    height: 90px;
    filter: drop-shadow(0 5px rgba(0,0,0,.1));
    -webkit-filter: drop-shadow(0 5px rgba(0,0,0,.1));
}

.atHome .brand {
    display: block;
}

/* =========================================================================
   Link Container
   ========================================================================= */

.root ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.root li {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(#54b4eb, #2fa4e7);
    box-shadow:
            inset 0 -1px rgba(23, 91, 130, 0.5),
            inset 0 1px rgba(255, 255, 255, 0.5);
}

/* =========================================================================
   Link
   ========================================================================= */

.link {
    position: relative;
    display: block;
    padding: 5px;
    width: 100px;
    line-height: 50px;
    text-align: left;
    text-decoration: none;
    transition: .1s ease-in;
    transition-property: line-height, background-color, color;
    color: white;
}

.atHome .link {
    line-height: 150px;
}

.link:hover {
    background-color: #108dcb;
}

/* Link: Icon
   ========================================================================= */

.link .icon {
    display: inline-block;
    fill: #9BDBFF;
    width: 50%;
    vertical-align: middle;
    filter: drop-shadow(0 2px rgba(0,0,0,.1));
    -webkit-filter: drop-shadow(0 2px rgba(0,0,0,.1));
}

.atHome .link .icon {
    fill: white;
}

.link:hover .icon {
    width: 75%;
    fill: white;
}

.active .icon {
    fill: #555 !important;
}

/* Link: Label
   ========================================================================= */

.label {
    display: none;
    position: absolute;
    left: calc(100% + 40px);
    top: 50%;
    transform: translateY(-50%);
    line-height: 40px;
    font-size: 30px;
    white-space: nowrap;
    font-weight: 100;
    background-color: black;
    color: white;
    padding: 0 .5em;
    border-radius: 0 2px 2px 0;
    filter: drop-shadow(0 10px rgba(0,0,0,.2));
    -webkit-filter: drop-shadow(0 10px rgba(0,0,0,.2));
}

.label:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    height: 0;
    width: 0;
    border: 20px solid transparent;
    border-right-color: black;
}

.link:hover .label {
    display: block;
}

.atHome .label {
    opacity: .5;
}

.atHome .link svg {
    opacity: 1;
}

/* Link: State
   ========================================================================= */

.active,
.active:hover {
    background-color: white;
    box-shadow: 0 5px rgba(0,0,0,.1);
}

.active .icon {
    fill: #1675aa;
    filter: none;
    -webkit-filter: none;
}

/* Link: Home/Brand
   ========================================================================= */

li.home {
    background-color: transparent;
    box-shadow: none;
    transition: .1s ease-in-out;
    transition-property: height;
}

.home .link {
    position: relative;
    height: 90px;
}

.home .icon,
.home .complexIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 70px;
    width: 30px;
    transform: translate(-50%, -50%);
    transition: .1s ease-in-out;
    filter: none;
    -webkit-filter: none;
}

.atHome .home .icon,
.atHome .complexIcon {
    width: 20px;
}

.home .icon {
    opacity: 0;
    fill: #d9f1ff !important;
}

.atHome .home .complexIcon {
    opacity: 0;
}

.atHome .home .icon {
    opacity: 1;
}
