@media only screen and (min-width: 1000px) {
    .searchbarDiv i {
        width: 2%;
    }
    .typeahead {
        width: 98%;
    }
}

@media only screen and (min-width: 850px) {
    .searchbarDiv {
        max-width: 765px !important;
        width: 2%;
    }
     .typeahead {
        width: 98%;
    }
}

@media only screen and (min-width: 750px) {
    .searchbarDiv i {
        width: 5%;
    }
    .typeahead {
        width: 95%;
    }
}

@media only screen and (max-width: 750px) {
    .formControl {
        font-size: .8em !important;
    }
    .searchbarDiv i {
        width: 10%;
    }
    .typeahead {
        width: 90%;
    }
}

@media only screen and (max-width: 340px) {
    .formControl {
        font-size: .6em !important;
    }
    .searchbarDiv i {
        width: 15%;
    }
    .typeahead {
        width: 85%;
    }
}

.searchbarDiv {
    z-index: 2;
    position: absolute;
    width: 90%;
    min-width: 320px;
    height: 50px;
    top: 90px;
    left: 10px;
    background-color: white;
}

.searchbarDiv i {
    padding-top: 18px;
    padding-left: 10px;
    color: #4498c0;
    height: 50px;
    width: 30px;
}

.typeahead {
    left: 30px;
    top: 0px;
    right: 0px;
    height: 50px;
    position: absolute;
}

.typeahead > div {
    height: 50px;
    position: absolute !important;
    width: 100%;
}

.typeahead > div > div {
    position: absolute !important;
    width: 100%;
}

.typeahead > div > div > input {
    height: 50px;
    border: none;
    --webkit-box-shadow: none;
    box-shadow: none;
    color: #4498c0;
}

.typeahead > div > div > input:focus {
    border: none;
}

.typeahead > div > ul > li > a {
    color: #4498c0 !important;
}
