@media screen and (min-width: 510px) {
    .simpleButton {
        font-size: .7em;
    }
}

@media screen and (max-width: 509px) {
    .simpleButton {
        font-size: .5em;
    }
}

.setAOIContainer {
    z-index: 2;
    position: absolute;
    width: 90%;
    min-width: 320px;
    max-width: 765px;
    top: 1em;
    left: 10px;
    background-color: #fff;
    height: 70px;
}

.topBar {
    height: 25px;
    width: calc(100% - 50px);
    float: left;
    padding-top: 5px;
}

.setAOITitle {
    font-size: 1em;
    padding-left: 10px;
}

.detailBar {
    height: 45px;
    width: calc(100% - 50px);
    float: left;
}

.setButton {
    height: 70px;
    width: 50px;
    background-color: limegreen;
    float: right;
    margin: 0px;
    padding: 0px;
    border: none;
    color: #fff;
    font-size: .8em;
}

.setButton:focus {
    outline: none;
}

.forwardArrow {
    font-size: 2.5em;
    margin: 0px;
    padding: 0px;
    vertical-align: middle !important;
}

.simpleButton {
    background: none;
    border: none;
    float: right;
    padding-right: 10px;
}

.activeButton {
    color: #4498c0;
}

.inactiveButton {
    color: grey;
}

.geometryIcon {
    color: grey;
    font-size: 3.1em;
    padding-left: 10px;
    width: 43px;
}

.detailText {
    float: right;
    width: calc(100% - 55px);
    height: 100%;
}

.areaSelectedText {
    padding-left: 6px;
    width: 100%;
    color: grey;
    min-height: 16px;
}

.areaSelectedHeading {
    padding-left: 6px;
    width: 100%;
    min-height: 16px;
}
